.vfrc-system-response ._1ddzqsn3 img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  display: block;
  margin: 10px 0;
}

._17c0nw41 {
  color: #ffffff !important;
}

.vfrc-system-response:has(.vfrc-message--extension-DoneAnimation._1ddzqsn7)
  .vfrc-system-response._1ddzqsn1 {
  display: none;
}
